<ion-header [translucent]="true">
  <ion-toolbar class="ttlheader">
    <ion-title>
      Fake User Generator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <ion-list *ngIf="!appManager.serviceUserEmpty">
      <ion-item class="itm" *ngFor="let serviceUser of appManager.serviceUsers"
        lines="full"
        button
        (click)="handleDetail(serviceUser)">
        <ion-thumbnail slot="start">
          <ion-img src="{{serviceUser.picture ? serviceUser.picture : logoImage}}"></ion-img>
        </ion-thumbnail>
        <div> 
          <ion-label>{{serviceUser.serviceName}}</ion-label>
          <ion-label *ngIf="serviceUser.username">{{serviceUser.username}}</ion-label>
        </div>
      </ion-item>
    </ion-list>
    <ion-label *ngIf="appManager.serviceUserEmpty">
      No users exists, click add to generate users
    </ion-label>
    <ion-button size="large" [routerLink]="['/add']">ADD</ion-button>
  </div>
</ion-content>
