#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#container>ion-list {
  flex-grow: 1;
}

.itm{
  margin: 20px;
  --border-width: 3px;
  --border-radius: 25px;
  --border-color: darkred;;
  // --color: crimson;
}

#container>ion-label {
  padding-top: 2em;
  text-align: center;
  flex-grow: 1;
}

#container ion-img::part(image) {
  border-radius: 100px;
}

#container ion-button {
  margin: 20px;
  --border-radius: 25px;  
  --border-width: 5px;
  --border-color: darkred;
  --background: crimson;
}

.ttlheader{
--background:darkred;
color: white;
font-weight: bold;
}